@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <head>
        <script type="text/javascript">
         <!--
            var imgObj = null;

            function init() {
                imgObj = document.getElementById('myImage');
                imgObj.style.position = 'relative';
                imgObj.style.left = '0px';
            }
            function moveRight() {
                imgObj.style.left = parseInt(imgObj.style.left) + 10 + 'px';
            }

            window.onload = init;
            //-->
        </script>
    </head>
        <h1>got it</h1>
        <div class="animate">
            <h1 class="display-4">MASS presents...</h1>
            <h2>Daytime Techno Service</h2>
            <h2>Edition One: Andrew Boie and Screendoor</h2>
        </div>


    <body>
        <div>
            <img id="myImage" src="https://www.catster.com/wp-content/uploads/2015/08/grumpy-cat-meme-01.jpg">
            <p>Click button below to move the image to right</p>
            <button onclick="moveRight()">MASS info</button>
        </div>


            <div class="video">
                <p>Listen to him lay down those technno trax in the following video!</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/etIOVT5EGsU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </body>